<div class="container">
    <section class="carousel">
        <div class="carousel-main-content">
            <p>Men's wear</p>
            <h2>Collection</h2>
            <p>Start at <span>$19,99</span></p>
        </div>
    </section>
    <div class="sub-carousel">
        <div class="carousel-left">
            <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/1_bf43bcd1-5f75-409f-aa0b-d9630da295d1.jpg?v=1635904045" alt="">
            <div class="carousel-left-content">
                <p>new arrivals</p>
                <h3>Women's Sale</h3>
                <button>Shop Now <i class='bx bx-right-arrow-alt'></i></button>
            </div>
        </div>
        <div class="carousel-right">
            <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/2_fa3c01db-e351-48f0-a2ea-f4c65cbeee09.jpg?v=1635904051" alt="">
            <div class="carousel-right-content">
                <p>TRENDING</p>
                <h3>New Sneaker</h3>
                <button>Shop Now <i class='bx bx-right-arrow-alt'></i></button>
            </div>
        </div>
    </div>
</div>