<div class="categories-section">
    <h2 class="categories-head">Top Categories</h2>
    <div class="categories-body">
        <div class="categories-left">
            <div class="categories-left-content">
                <div class="categories-left-title">
                    <h3>PADDED CLOTHES</h3>
                    <p>Collection</p>
                </div>
                <div class="categories-left-nav">
                    <button>Women's</button>
                    <button>Men's</button>
                </div>
            </div>
        </div>
        <div class="categories-right">
            <div class="categories-women">
                <div class="categories-women-content">
                    <button>Women's T-shirt</button>
                </div>
            </div>
            <div class="categories-sports">
                <div class="categories-sports-content">
                    <button>Sport & Outdoors</button>
                </div>
            </div>
        </div>
    </div>
</div>