<div class="container">
    <div class="navigation">
        <ul class="navigation-list">
            <li>
                <a href="/showroom">
                    <span>Home</span>
                </a>
            </li>
            <li class="navigation-list-categories">
                <span>Categories</span>
                <i class='bx bx-chevron-down'></i>
            </li>
            <li class="navigation-list-products">
                <span>Products</span>
                <i class='bx bx-chevron-down'></i>
            </li>
            <li class="navigation-list-pages">
                <span>Pages</span>
                <i class='bx bx-chevron-down'></i>
                <div class="pages-sub-nav">
                    <ul>
                        <li><span>About Us</span></li>
                        <li><span>Contact Us</span></li>
                        <li><span>My Account</span></li>
                        <li><span>FAQs</span></li>
                        <li><span>Error 404</span></li>
                        <li><span>Coming Soon</span></li>
                    </ul>
                </div>
            </li>
            <li class="navigation-list-blog">
                <span>Blog</span>
                <i class='bx bx-chevron-down'></i>
                <div class="blog-sub-nav">
                    <ul>
                        <li><span>Classic</span></li>
                        <li><span>Listing</span></li>
                        <li><span>Grid</span></li>
                        <li><span>Mansonry</span></li>
                        <li><span>Mask</span></li>
                        <li><span>Single Post</span></li>
                    </ul>
                </div>
            </li>
            <li class="navigation-list-elements">
                <span>Elements</span>
                <i class='bx bx-chevron-down'></i>
                <div class="elements-sub-nav">
                    <ul>
                        <li><span>Products</span></li>
                        <li><span>Typography</span></li>
                        <li><span>Titles</span></li>
                        <li><span>Product Category</span></li>
                        <li><span>Buttons</span></li>
                        <li><span>Accordions</span></li>
                        <li><span>Alert & Notification</span></li>
                        <li><span>Tabs</span></li>
                        <li><span>Testimonials</span></li>
                        <li><span>Blog Posts</span></li>
                        <li><span>Instagrams</span></li>
                        <li><span>Call to Action</span></li>
                        <li><span>Icon Boxes</span></li>
                        <li><span>Icons</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="<%= root %> #about">About Us</a>
            </li>
            <div class="categories-sub-nav">
                <div class="categories-1">
                    <a href="">
                        <span>VARIATIONS 1</span>
                    </a>
                    <ul class="categories-1-list">
                        <li><span>Banner With Sidebar</span></li>
                        <li><span>Boxed Banner</span></li>
                        <li><span>Infinite Ajaxscroll</span></li>
                        <li><span>Horizontal Filter</span></li>
                        <li><span>Navigation Filter</span></li>
                        <li><span>Off-Canvas Filter</span></li>
                        <li><span>Right Toggle Sidebar</span></li>
                    </ul>
                </div>
                <div class="categories-2">
                    <a href="">
                        <span>VARIATIONS 2</span>
                    </a>
                    <ul class="categories-2-list">
                        <li><span>3 Columns Mode</span></li>
                        <li><span>4 Columns Mode</span></li>
                        <li><span>5 Columns Mode</span></li>
                        <li><span>6 Columns Mode</span></li>
                        <li><span>7 Columns Mode</span></li>
                        <li><span>8 Columns Mode</span></li>
                        <li><span>List Mode</span></li>
                    </ul>
                </div>
                <div class="categories-3">
                    <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/banner-1.jpg?v=1626335324&width=221" alt="">
                </div>
            </div>
            <div class="products-sub-nav">
                <div class="products-1">
                    <a href="">
                        <span>PRODUCT PAGES</span>
                    </a>
                    <ul class="products-1-list">
                        <li><span>Simple Product</span></li>
                        <li><span>Variable Product</span></li>
                        <li><span>Sale Product</span></li>
                        <li><span>Featured & On Sale</span></li>
                        <li><span>With Left Sidebar</span></li>
                        <li><span>With Right Sidebar</span></li>
                        <li><span>Add Cart Sticky</span></li>
                        <li><span>Tab Inside</span></li>
                    </ul>
                </div>
                <div class="products-2">
                    <a href="">
                        <span>PRODUCT LAYOUTS</span>
                    </a>
                    <ul class="products-2-list">
                        <li><span>Grid Images</span></li>
                        <li><span>Masonry</span></li>
                        <li><span>Gallery Type</span></li>
                        <li><span>Full Width Layout</span></li>
                        <li><span>Sticky Info</span></li>
                        <li><span>Left & Right Sticky</span></li>
                        <li><span>Horizontal Thumb</span></li>
                        <li><span>Build Your Own</span></li>
                </div>
                <div class="products-3">
                    <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/banner-2.jpg?v=1626750721&width=221" alt="">
                </div>
            </div>
        </ul>
    </div>
</div>