<div class="container">
    <section class="social-section">
        <div class="social-heading">
            <h3>Our Instagram</h3>
        </div>
        <div class="social-list">
            <div class="social-item">
                <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/1_3343359b-953c-413a-92b3-855e3cbf5b7a.jpg?v=1642908658" alt="">
                <div class="social-item-content">
                    <i class='bx bxl-instagram' ></i>
                </div>
            </div>
            <div class="social-item">
                <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/4_b5168310-00ba-428b-91ab-8befa3f26803.jpg?v=1642908658" alt="">
                <div class="social-item-content">
                    <i class='bx bxl-instagram' ></i>
                </div>
            </div>
            <div class="social-item">
                <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/5_04e89350-b5ad-417b-a27b-58c047381e2b.jpg?v=1642908658" alt="">
                <div class="social-item-content">
                    <i class='bx bxl-instagram' ></i>
                </div>
            </div>
            <div class="social-item">
                <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/3_9aadd75b-aeca-43e0-a622-430b5176b63b.jpg?v=1642908658" alt="">
                <div class="social-item-content">
                    <i class='bx bxl-instagram' ></i>
                </div>
            </div>
            <div class="social-item">
                <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/2_39a7b6fe-84cc-4f43-98b3-bc9f7d533760.jpg?v=1642908659" alt="">
                <div class="social-item-content">
                    <i class='bx bxl-instagram' ></i>
                </div>
            </div>
        </div>
    </section>
</div>